.login__page {
  width:100%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-around;
  background-color:#f7f7f7;

  &--wrapper {
    width:35vw;
    // height:45vh;
    background-color:white;
    border-radius:0.45rem;
    padding: 0 0 45px 0;

    h2 {
      text-align:center;
      margin-bottom: 45px;
    }
  }
}

form {
  width:90%;
  margin:0 auto;
}

.formgroup {
  width:95%;
  margin:0 auto;
}

.authentication__buttons {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:95%;
  margin:0 auto;
}
